
:host {
  font-size: 16px;
  line-height: 1.6em;
  display: block;
  padding: 1em 0.4em;
}
pre {
  margin: 0;
}
input {
  line-height: 1.4em;
  padding: 0 0.4em;
}
.tagCode {
  background: antiquewhite;
}
.interpolationNameInput {
  width: 38em;
}

